<.flash_group flash={@flash} />
<main class="h-[100svh] grid justify-center">
  <section class="max-w-lg w-screen p-4 grid content-center gap-4">
    <img class="h-16" src="/images/symbol.svg" alt="a graphical representation of a feather" />
    <article class="grid gap-2">
      <h1 class="font-bold text-xl">Feder is on pause</h1>
      <p>Leave your email to get updated.</p>
    </article>
  </section>
</main>